@charset "utf-8";
/* CSS Document */

.bgmodaleditform2 {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }

        .modal-contenteditform2 {
            width: 450px;
            height: 540px;
            background-color: white;
            opacity: 1;
            border-radius: 10px;
            padding: 20px;
            border: 2px solid;
            position: relative;
        }

        .containereditform2 {
            margin-left: auto;
            margin-right: auto;
            width: 400px;
            height: 285px;
            border-radius: 10px;
            background-color: white;
            padding: 0px 20px 20px 20px;
            border: 1px solid;
        }


        /*Each Row*/
        .roweditform2 {
            margin-top: 20px;
            width: 400px;
            display: block;
        }

        /*Text Field*/
        .roweditform2 .inputTextName {
            width: 175px;
            height: 20px;
            border: 1px solid;
            border-radius: 3px;
            padding-left: 3px;
            float: right;
            background-color: #d3d3d3;
			/*margin-left: 300px;*/
        }
        
        /*Text Field*/
        .roweditform2 .inputTextEditForm2 {
            width: 175px;
            height: 20px;
            border: 1px solid;
            border-radius: 3px;
            padding-left: 3px;
            float: right;
			/*margin-left: 300px;*/
        }


        /*Update Edit Form 2 Button*/
        .roweditform2 .updateeditform2 {
            margin-top: 40px;
            width: 200px;
            height: 35px;
            font-weight: bold;
            border-width: 0 0 1px;
            border-radius: 5px;
            background: #2296F3;
            cursor: pointer;
            color: #ffffff;
        }

        /*Update Edit Form 2 Button Hover*/
        .roweditform2 .updateeditform2:hover {
            box-shadow: 0 0 10px 10px hsla(198, 100%, 50%, 0.5);
            color: #ffffff;
            background: #2296F3;
            border: 0;
        }

        /*Close Edit Form 2 Icon*/
        .closeeditform2 {
            float: right;
            cursor: pointer;
        }

        /*Image*/
        .editform2icon {
            text-align: center;
        }