@charset "utf-8";
/* CSS Document */
body{
background-color: white;
margin: 0;
padding: 0;
width:500%;
max-width:1920px;
min-width:480px;
margin-left:auto;
margin-right:auto;
height:100%;
overflow-y: auto;
overflow-x: hidden;
}


form.search input[type=text]{
padding: 8px;
font-size: 17px;
border: 1px solid grey;
width: 50%;
background: white;
position: absolute;
left: 120px;
}

form.search button:hover {
opacity: 1.0;
}

form.search::after {
content: "";
clear: both;
display: table;
}

.bigger{
font-size: 150%;
}

.select{

}

select.year{
padding: 0px 20px 0px 20px;
margin: 0px 0px 0px 30px;
height: 37px;
left: 40px;
float:left;
cursor: pointer;
}

select.country{
height: 37px;
float:left;
padding: 0px 20px 0px 20px;
margin: 0px 0px 0px 30px;
left: 40px;
cursor: pointer;
}

.sortbtn{
height: 37px;
float:left;
padding: 0px 20px 0px 20px;
margin: 0px 0px 0px 30px;
left: 40px;
cursor: pointer;
}

.sortbtn:hover {
color: black;
background-color: gold;
}

/* Add padding to containers */
.container{
width:80%;
}

.container2{
	margin: 0px 45px 0px 30px;
}


.manage{
border: 2px solid black;
padding: 0px 20px 0px 20px;
margin: 0px 0px 0px 30px;
float:left;
font-size: 16px;
background-color: gold;
}

.university{
width:25%;
border: 2px solid black;
padding: 0px 300px 0px 20px;
margin: 0px 30px 0px 30px;
float:left;
font-size: 16px;
background-color: gold;
cursor: pointer;
color: black;
}

.rankingsindicator{
width:25%;
border: 2px solid black;
padding: 0px 300px 0px 20px;
margin: 0px 0px 0px 30px;
float:left;
font-size: 16px;
background-color: white;
cursor: pointer;
color: black;
}

.rankingsindicator:hover {
background-color: #d3d3d3;
}


/*.ranking{*/
/*border: 2px solid black;*/
/*padding: 16px 450px 15px 20px;*/
/*margin: 0 10px;*/
/*position: absolute;*/
/*right: 0px;*/
/*font-size: 16px;*/
/*background-color: gold;*/
/*}*/

/*.universitybtn {*/
/*background-color: white;*/
/*border: 2px solid black;*/
/*padding: 0px 440px 0px 20px;*/
/*margin: 0px 10px;*/
/*font-size: 16px;*/
/*cursor: pointer;*/
/*position: absolute;*/
/*left: 0px;*/
/*font-family: Times New Roman;*/
/*}*/

icon_container{
text-align: right;
}

h2 {
padding: 8px;
margin: 3px;
}

.rankingbtn {
background-color: white;
border: 2px solid black;
padding: 16px 458px 15px 20px;
margin: 0 10px;
font-size: 16px;
cursor: pointer;
position: absolute;
right: 0px;
font-family: Times New Roman;
}

.addbtn{
background-color: white;
border: 2px solid black;
width: 340px;
height: 40px;
margin: 20px 20px 20px 30px;
font-size: 16px;
text-align: center;
font-family: Times New Roman;
}

.addbtn:hover {
background-color: #d3d3d3;
}


.editbtn {
background-color: gold;
border: 2px solid black;
width: 340px;
height: 40px;
margin: 20px 60px 20px 0px;
font-size: 16px;
cursor: pointer;
text-align: center;
font-family: Times New Roman;
}

.updatebtn {
background-color: white;
border: 2px solid black;
width: 340px;
height: 40px;
margin: 20px 20px 20px 0px;
font-size: 16px;
cursor: pointer;
text-align: center;
font-family: Times New Roman;
}

.deletebtn {
background-color: white;
border: 2px solid black;
width: 340px;
height: 40px;
margin: 20px 0px 20px 0px;
font-size: 16px;
cursor: pointer;
text-align: center;
font-family: Times New Roman;
}

.deletebtn:hover {
background-color: #d3d3d3;
}

.searchbtn {
position: absolute;
right: 502px;
padding: 8px 10px;
background: grey;
opacity: 0.8;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}

.btn{
  border: none;
  color: grey;
  padding: 8px 16px;
  cursor: pointer;
  margin: 2px 20px 2px 10px;
}

.btn2{
  background-color: transparent;
  color:grey;
	border: none;
  padding: 8px 12px;
  cursor: pointer;
	margin: 0px 15px 0px 25px;
}

.btn:hover {
color: black;
background-color: gold;
}

.btn2:hover {
color: black;
}

#editModel{
	position: fixed;
	margin: 0 auto;
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	vertical-align: center;
	visibility: hidden;
}

#editModel.active{
	visibility: visible;
}

.modal-content1{
	background-color: #F6EDE2;
	margin: auto;
	padding: 0 10px 10px 10px;
	border: 1px solid #888;
	width: 50%;
	height: 45%;
}

.add_form_style{
	padding: 20px 0 0 20px;
	width: 95%;
	height: 90%;
	margin: 0;
}

