@charset "utf-8";
/* CSS Document */

.label{
	color: black;
	font-size: 20px;
	padding-right: 30px;
}

.bigbox{
	padding-top: 30px; 
	padding-bottom: 20px; 
	float: left;
	width:80%;
	display: flex; 
	justify-content: center;

}

.cancelbtn {
	width: 100px;
  background-color: red;
  color: black;
  padding: 8px 20px;
  margin: 0px 0;
  border: grey;
  font-size:16px;
  cursor: pointer;
  
  
}

.savebtn {
	width: 100px;
  background-color: gold;
  color: black;
  padding: 8px 20px;
  margin: 0px 0;
  border: grey;
  font-size:16px;
  cursor: pointer;


}
